/.htaccess
/.htaccess.sample
/.idea/
/api.php
/composer.json
/cron.php
/cron.sh
/downloader/
/errors/
/favicon.ico
/get.php
/includes/
/index.php
/index.php.sample
/install.php
/js/
/lib/
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_EE.html
/LICENSE_EE.txt
/mage
/media/
/modman
/php.ini.sample
/pkginfo/
/RELEASE_NOTES.txt
/shell/
/var/
